#header {
 background-color: darkgray;
 margin: 0;
 padding: 5px;
}
#body {
    color: darkgray;
    margin: 5%;
    width: 110%;
    font-size: 20px;
	clear: both;
	text-align: center;
    font-family: sans-serif, serif; 
}
/*container has to have a # selector*/
#wrapper {
	background-color:chocolate;
	padding: 20px;
    text-align: center
}
.main {
	margin: 0 0;
	padding: 20px;
}

#nav {
    text-align: center;
    color: black;
    overflow: hidden;
    display: block;
    list-style-type: none;
}
.nav a ul li {
    list-style-type: none;
    color: darkgrey;
    display: inline-block;
    padding: 10%;
    float: left;
    text-align: center;
}
.nav  {
    list-style-type: none;
    display: blockn;
    float: left;
    text-align: center;
    margin: 5px;
    padding: 5px%;
    width:100%;   

}
#h1 {
	font-family:Sans Serif ,serif;
	font-size: 120%; /*this is determined with a of base of 14px*/
    text-decoration:underline;
    font-weight: bold;
}			

h1,p {
    font-size: 16px;
    text-align: center;
}
/*need to fix this code for p in h1 */
ul {
	font-family: Sans Serif, Serif;
	font-size: 14px;
    font-family: Sans Serif ,serif;
	text-align: center;
    margin:0 auto;
    width: :10;
}
