/*Beginning of header section*/
#header {
 background-color: darkgray;
 margin: 0;
 padding: 5px;
}
/*Ending of heading section*/
body {
    color: darkgray;
    margin: 0;
    width: 100%;
    font-size: 20px;
	clear: both;
	text-align: center;
    font-family: sans-serif, serif; 
}
/*container has to have a # selector*/
#wrapper {
	background-color:chocolate;
	padding: 20px;
    text-align: center
}
.main {
	padding: 20px;
}
/*nav section*/
.navhorz {
    background-color: darkgray;
}
.navhorz li{
    display: block;
    padding: 12px;
    font-size: 12px;
    color: ghostwhite;
    text-decoration: none;
    float: left;
}
.navhorz ul li {
    float: left;
}
.navhorz ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.navhorz ul li a {    
    display: block;
    padding: 12px;
    font-size: 12px;
    color: ghostwhite;
    text-decoration: none;
    font-weight: 600;
}
.navhorz ul li a:hover {
    background-color: sandybrown;
    color:floralwhite;
    /*end of nav section*/
}
/*Body and paragraph section*/
#h1 {
	font-family:Sans Serif ,serif;
	font-size: 120%; /*this is determined with a of base of 14px*/
    text-decoration:underline;
    font-weight: bold;
}			
h1,p {
    font-size: 16px;
    text-align: center;
}
/*End of Body and Paragpraph section*/
/*List and upcoming events for paragrahs*/
ul {
	font-family: Sans Serif, Serif;
	font-size: 14px;
    font-family: Sans Serif ,serif;
	text-align: center;
    margin:0 auto;
    width: :10;
}
/*end of list and upcoming events for paragraph sectin*/
